/* 
  Base Styles
  Typography, colors, and foundational styles
*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Muli:400,600,700');

/* Base styles */
body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  line-height: 1.5;
  color: var(--color-neutral-400);
}

/* Font smoothing and box sizing to border-box */
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Focus styles */
/* disable focus styles for clicking elements but keep the tab focus */
*:focus {
  box-shadow: none;
}

*:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 2px var(--color-maize-400), 0 0 0 3px var(--color-neutral-400);
    border-radius: 2px !important;
}
