---
/**
 * Template Component
 * Converted from src/components/aside-layout.js - Template
 */

interface Props {
  asideWidth?: string;
  contentSide?: 'left' | 'right';
  variant?: 'aside' | 'basic';
  hasSide?: boolean;
  class?: string;
}

const { 
  asideWidth = '21rem', 
  contentSide = 'left',
  variant = 'aside',
  hasSide = true,
  class: className = ''
} = Astro.props;
---
<div class="margins">
  <div class={`template template--${variant} ${className}`} data-content-side={contentSide} data-has-side={hasSide}>
    <slot />
  </div>
</div>

<style define:vars={{ asideWidth, contentSide }}>
  .template {
    width: 100%;
  }

  @media only screen and (min-width: 641px) {
    .template--aside {
      padding: 0 0 2rem;
    }
  }

  @media only screen and (min-width: 1200px) {
    .template--aside {
      display: grid;
      padding-bottom: 3rem;
    }

    .template--aside[data-content-side="left"],
    .template--aside:not([data-content-side]) {
      grid-template-areas: "content side";
      grid-template-columns: 1fr calc(var(--asideWidth) + 4rem);
    }

    .template--aside[data-content-side="right"] {
      grid-template-areas: "side content";
      grid-template-columns: calc(var(--asideWidth)) 1fr;
    }
  }

  @media only screen and (min-width: 641px) {
    .template--basic[data-has-side="true"] {
      display: grid;
      grid-template-areas:
        "top top"
        "side content";
      grid-template-columns: calc(216px + 3rem) 1fr;
      grid-template-rows: auto 1fr;
    }

    .template--basic[data-has-side="false"] {
      display: grid;
      grid-template-areas:
        "top"
        "content";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  .template :global([data-panel] h2) {
    margin-top: 2.5rem;
  }
</style>
