#  Name of workflow
name: Staging workflow

# When workflow is triggered
on:
  workflow_dispatch:

# Jobs to carry out
jobs:
  build:
    # Operating system to run job on
    runs-on: ubuntu-latest
    # Environment to run job on
    environment: staging
    # Environment variables
    env:
      DRUPAL_CONCURRENT_FILE_REQUESTS: 20
      DRUPAL_REQUEST_TIMEOUT: 6000000
      DRUPAL_URL: ${{ vars.DRUPAL_URL }}
    # Steps in job
    steps:
      # Get code from repo
      - name: Checkout code
        uses: actions/checkout@v5
      # Install NodeJS
      - name: Install latest LTS version of Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      # Enabling cache
      - name: Caching Gatsby
        id: gatsby-cache-build
        uses: actions/cache@v4
        with:
          path: |
            public
            .cache
          key: ${{ runner.os }}-gatsby-build-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-gatsby-build-
      # Run npm ci (clean-install) and build on our code
      - run: npm ci
      - run: npm run build
      # Deploy to Netlify using our production secrets
      - name: Deploy to netlify
        run: npx netlify-cli deploy --dir=public --prod
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ vars.NETLIFY_SITE_ID }}
      - name: Output summary
        run: echo "https://staging.lib.umich.edu" >> $GITHUB_STEP_SUMMARY
      # Notify Slack if build fails
      - name: Send custom JSON data to Slack workflow
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v2.1.1
        with:
          payload: |
            {
              "url": "https://github.com/mlibrary/lib.umich.edu/actions/runs/${{ github.run_id }}",
              "message": "Staging build and deploy failed"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_MONITORING_SLACK }}
